body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   padding: 100px;
   margin: 100px;
   background-color: black;
   color: white;
   
   
}
#tab-bar{
   position:absolute;
    width: 95vw;
    overflow-x: hidden;
    background-color: blue; 
    z-index: 3333;
    position: absolute;
    top: 0;
    border-radius: .25rem;;
    height: 40px;
    margin-top: 10px;
    font-size: larger;
    scrollbar-width: none;

    
   
}
#tab-bar p{
   position: absolute;
   margin-left: 8px;

    
}
#tab-bar button{
   position: absolute;
   margin-left: 450px;
   background-color: transparent;
   margin-top: 5px;
    
}


h1{
    color: blue;
}
img{
   position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 10px;
}


#button1{
   width: 500px;
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding-left: 10px;
   

}

#button2{
   width: 500px;
    margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding-left: 10px;
}

