body{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   padding: 100px;
   margin: 100px;
}

#button1{
   width: 500px;
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding-left: 10px;
   

}

#button2{
   width: 500px;
    margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding-left: 10px;
}

